trigger:
- main

pool:
  name: self-hosted-linux

variables:
  SONAR_HOST_URL: http://20.193.148.234:9000
  SONAR_TOKEN: $(sonarToken)

steps:
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean verify sonar:sonar'
    options: >
      -Dsonar.projectKey=java-app
      -Dsonar.host.url=$(SONAR_HOST_URL)
      -Dsonar.login=$(SONAR_TOKEN)
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '17'
